.header {
	background-color : #108a93 ;
	padding : 8px;
}

.menu {
	padding : 20px;
}

tr{
	max-height: 50px;
}

.titreSite{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Arial !important;
	font-weight: bold;
	font-size: 46px;
}

#corps{
	padding : 60px;
}

.titreClickable{
	color : #000000 ;
}

.titreClickable:hover{
	color : #108a93 ;
}